*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: Cambria, Times, 'Times New Roman', serif;
}
h2{
    margin-top: 3.5em;
    
}
h3{
    margin-top: 1em;
}

body{
    background-color: rgb(239, 209, 248);
}

/* Barra de NAVEGACION */
nav{
    /* display: inline-flex; con esta propiedad es responsive, se reduce a lo más minimo, pero el FLEX se reduce hasta cierto tamaño */
    display: flex;
    float: inline-start;
    position: relative;
    text-align: center;
    width: 100%; /* 1200px*/
    background-color: violet;
}

nav ul li{
    list-style-type: none;
    float: left;
    /* text-align: auto; */
    /* padding: 5% 1%; */
    color: rgb(179, 23, 179);
    /* estas dos propiedades así tal cual ayudan a ajustar/marcar cada "botón" */
    /* en el padding la primera cifra es del alto y el 2do del ancho*/
    padding: 30px 20px;
    margin-inline: auto;
    /* si activo este border-style marca el border, la intención es jugar HOVER */
    /* border-style: solid; */
}

#barra{
    /* padding: 5px 5px; */
    /* margin-left: 1%; */
    margin-top: auto;
    font-size: 30px;
    align-items: center;
}

.logoMariposa{
    margin-left: 0.5em;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.tituloPagina{
    text-decoration-line: underline;
    color: rgb(179, 23, 179);
    margin-left: 7%;
}

/* pagina del inicio */
main{
    font-size: 20px;
}

#mainInicio{
    margin: 20px;
    padding: 5px;
}


/* pagina de Artículos */
#mainArticulos{
    margin: 10px;
}

main section{
    background-color: rgb(253, 251, 251);
}

/* pagina del Formulario */

#cuadroFormulario{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 16px;
    line-height: 1.5em;
    align-content: center;
}

